body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
}
ul {
    display: flex;
    justify-content: space-around;
    padding: 0;    
}
li {
    text-decoration: none;
    list-style: none;
    color: #E5F2C9;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 20px;
}
.navDiv {
    background-color: #39032D;
    position: fixed;
    height: 50px;
    width: 100vw;
    top: 0px;
    left: 0px;
    box-shadow: 2px 3px 3px #1F0318;
}
a {
    text-decoration: none;
    text-align: center;
    width: 100px;
    padding-top: 5px;
    height: 30px;
}
a:hover {
    background-color: #7A0661;
}
#signUpForm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #39032D;
    box-shadow: 2px 3px 3px #1F0318;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    top: 200px;
}

dialog {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    color: #E5F2C9;
    font-weight: 600;
}
#forDiv {
    background-color: #E5F2C9;
}
#submitBtn {
    margin-top: 20px;
    color: #C2E3E2;
    background-color: #7A0661;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    height: 50px;
    width: 50px;
}
.formDetails {
    margin: 5px auto;
}
#submitBtn:hover {
    background-color: #710071;
}
#postBox {
    position: fixed;
    top: 100px;
}
#postDisplay {
    border: 1px solid black;
    height: 300px;
    width: 90vw;

}