body {
    margin: auto;
    height: 100vh;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
    width: 60%;

}
#signUpForm {
    display: flex;
    justify-content: center;
    align-items: center;
}
.formDetails {
    margin: auto;
    width: 50%;
}
.label {
    display: inline-block;
}